body { background: transparent; margin: 0; font-family:'Courier New', Courier, monospace; }

.map-container {
    display: flex;
    gap: 10px;
    padding: 20px;
}
.map {
    padding: 10px 15px;
    border: 2px solid #aaa;
    border-radius: 8px;
    background: white;
    font-size: 18px;
    filter: brightness(0.8);
    filter: opacity(0.6);
    
}
.highlight {
    background-color: yellow;
    border-color: orange;
    font-weight: bold;
    filter: brightness(1);
    filter: opacity(0.8);
}